<h1>About Bloccit</h1>
<p>created by: Ross Waguespack</p>
<%= link_to "Follow me", "https://www.twitter.com/wagues", class: "social-btn" %> 
<%= link_to "Twitter", "https://www.twitter.com", class: "btn btn-default" %>

